/* CSS Variables */
:root {
    --main-font: Arial, sans-serif;
    --main-bg-color: #f4f4f4;
    --primary-color: #4caf50;
    --secondary-color: #007BFF;
    --text-color: #333;
    --link-color: #0275d8;
    --hover-link-color: #218838;
    --container-bg-color: rgba(255, 255, 255, 0.8);
    --container-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Basic Resets */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* Element-specific Resets */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    font-family: var(--main-font);
    background: url('/static/images/vendor.jpg') no-repeat center center fixed; 
    background-size: cover;
    color: var(--text-color);
    line-height: 1;
    margin: 0;
    padding: 20px;
}

ol, ul { list-style: none; }
blockquote, q { quotes: none; }
table { border-collapse: collapse; border-spacing: 0; }

/* Global Styles */
a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover { text-decoration: underline; }

/* Layout Components */
header {
    background-color: var(--secondary-color);
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 24px;
}

nav {
    background: #333;
    color: white;
    padding: 8px 16px;
    text-align: center;
}

nav a {
    color: white;
    padding: 8px 16px;
    font-weight: bold;
}

nav a:hover { background-color: #555; }

/* Forms and Buttons */
form {
    margin: 20px 0;
}

input[type="text"], input[type="email"], input[type="password"], textarea, select {
    width: 100%;
    padding: 8px;
    margin: 5px 0 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button, input[type="submit"] {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover, input[type="submit"]:hover {
    background-color: var(--hover-link-color);
}

/* Main Container */
.container {
    padding: 20px;
    background-color: var(--container-bg-color);
    border-radius: 8px;
    box-shadow: var(--container-shadow);
    margin: 50px auto;
    width: 80%;
    max-width: 960px;
    text-align: center;
    position: relative;
    padding-bottom: 50px;
}

/* Table Styles */
table.table {
    width: 100%;
    background-color: #f9f9f9;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    border-top: 1px solid #ddd;
}

th {
    background-color: var(--primary-color);
    color: white;
}
